*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:cursive;
}

body{
  background-color: #dcdcdc;
}

h1{
    position: relative;
    font-family:cursive ;
    left: 50px;
}

.contenedor{
    position:absolute;
    padding:150px;
    margin: 10px;
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    width: 1000px;
    left:50px
  }

  .btn > a{
    position: relative;
    display:inline-block;
    width: 100px;
    text-align: center;
    background-color: cornflowerblue;
    color:white;
    text-decoration: none;
    left: 150px;
    top: -160px;
}

#btn-form{
  width: 150px;
}

.img-baner{
    width: 100%;
}

.subtitulo{
    display:inline-block;
    position: absolute;
    width:1000px;
    top:380px;
    left: 60px;
    border: 2px solid black;
    text-align: center;
}

.logo{
    position: absolute;
    left: 10px;
}

figure{
    position: absolute;
    top: 450px;
    left: 50px;

}

.opciones{
    position:relative;
    top: 420px;
    left: 350px;
}

.opciones p{
    max-width: 800px;
}


h3{
    font-style: italic;  
}

p{
    position: relative;
    left: 20px;
    padding-bottom: 15px
}

.div-contactos{
    position:relative;
    top: 430px;
    left: 300px
}

.tabla{
    position:relative;
    top:400px;
    left: 300px;
}

table {
    table-layout: fixed;
    width: 57%;
    border: 2px solid black;
  }

  table caption{
    border: 2px solid black;
    border-bottom: 0px;
  }

  th, td{
    padding:2px;
  }

  .div-game-info{
    position: absolute;
    top: 500px;
  }

  .frase-3{
    display: flex;
    justify-content: space-between;
 }

  #frase-1{
    padding-bottom: 10px;
  }

  #frase-2{
    margin-bottom: 40px;;
    width: 730px;
  }

  #frase-3-parte1{
    display:block;
  }

  #frase-3-parte2{
    display:block;
  }

  .texto-general{
    position:relative;
    top:400px;
    left: 300px;
}

.letra-regular{
    font-weight: normal;
    padding-bottom: 40px;
    font-size: 20px;;
}

.texto-regular{
    position:relative;
    top: 420px;
    left: 350px;
}

#lista-desordenada-1{
  font-weight: bold;
  list-style: none;
}

#lista-desordenada-1 p{
  font-weight: normal;
}

#lista-desordenada-1 li{
  padding-bottom: 15px;;
}

.txt-identado{
  text-indent: 30px;
  text-align: justify;
  margin-left: -20px;
  font-weight: normal;
  width:800px;
}

.lista-ordenada-1{
  font-weight: normal;
  padding-bottom: 15px;
  list-style:decimal;
  width:800px;
}
.ol-letra-sin-padding{
  padding-bottom: 0px;
}

#ultimo-item{
  padding-bottom: 0px;
}

.lista-ordenada-2{
  font-weight: normal;
  padding-bottom: 20px; 
  list-style-type: lower-alpha;
  width:800px;
}

#estilo{
  list-style-type: none;
}

#padding-del-item{
  margin-left: 15px;;
  width:800px;
}

.contenedor-form{
position: relative;

max-width: 760px;
top:400px;
left:300px; 
border: 1px solid black; 
}

fieldset{
  border: none;
  padding: 5px;
  margin: 5px 5px 10px 5px; 
  display: flex;
  flex-wrap: wrap;
}

fieldset>legend{
  font-weight: bold;
}

input{
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  background-color: #dcdcdc;
}

#fieldset-1{
  border:none;
  display:inline-block;
  justify-content: space-between;
}

#input-street{
  width: 80%
}

#input-apellido{
  width: 300px;
}

#birth-gender{
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#closest-school{
  display: flex; 
  width: 120%;
}

#fieldset-closed-school{
  display: flex ;
}

.div-de-opciones>input{
  display: block;
}

#position-play{
  display: flex;
}

#uniform-size{
  display: flex;
}

#permission-to-play{
  margin-left: -20px;
  padding-bottom: 20px;
}

#firma-fecha{
  position: relative;
}

#signature{
  display: block;
  left: 20px;
  padding-bottom: 20px;
}

.enviar{
  height: 40px;
  width: 100px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: lightblue;
  font-weight: bold;
}

#titulo-mapas{
  position: relative;
  top:830px;
  left: 580px
}

#mapas-general{
  position: absolute;
  border: 3px solid black;
  top: 1250px;
  left: 300px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

#mapas-general>div{
  margin: 10px;
}


dt>h3{
  padding-bottom: 15px;
  
}

dd>p{
  padding-bottom: 30px;; 
}

